

.color-tile {
    border: 1px solid black;
    line-height: 56px;
    padding: 18px 0px;
}

.color-row {
    flex-direction: row;
    white-space: nowrap;
}

.tiles-container {
    overflow-x: auto;
}