

.color-tile {
    border: 1px solid black;
    display: inline-flex;
    font-size: 28px;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.color-row {
    flex-direction: row;
    white-space: nowrap;
}

.tiles-container {
    overflow-x: auto;
}