

.color-tile {
    border: 1px solid black;
    display: inline-flex;
    width: 80px;
    height: 80px;
    overflow: hidden;
    vertical-align: bottom;
    text-shadow: 2px 2px 0px white;
    white-space: normal;
    word-break: break-word;
}

.heading {
    font-size: 28px;
    vertical-align: bottom;
}

.color-row {
    flex-direction: row;
    white-space: nowrap;
}

.tiles-container {
    overflow-x: auto;
}

.players-list {
    width: 10px;
    height: 20px;
    border: 1px solid red;
}