@page "/board"

<PageTitle>HuesClues - Board</PageTitle>

<div class="tiles-container">

    @for(int i=0; i<ColorsCount; ++i) {        
        <div class="color-row">
            @for(int j=0; j<ColorsCount; ++j) {
                <span 
                    class="color-tile" 
                    style=@($"color: {GetHslForCoordinate(i,j)}; background-color: {GetHslForCoordinate(i,j)}")
                > 
                    [@i.ToString("00"), @j] 
                </span>
            }
        </div>
    }
</div>

@code {
    
    public Board() {
        if (ColorsCount == null || ColorsCount == 0) {
            ColorsCount = 16;
        }
    }

    [Parameter]
    public int? ColorsCount { get; set; }

    public string GetHslForCoordinate(int x, int y) {
        
        return $"hsl({x * 360 / ColorsCount }, {y * 100 / ColorsCount}%, {(2 * ColorsCount - (y+x)) * 97 / ColorsCount / 2}%)";
    }
 
}
